<div class="px-4">
    <div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Compliance Status</h1>
        <div>
            <i class="btn btn-sm fa-solid fa-bell fs-4 text-warning me-2"></i>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Compliance Status</h5>
                <canvas id="complianceStatus"></canvas>
            </div>
        </div>

    </div>